<ion-header translucent>
  <ion-toolbar>
    <ion-title>Pokemon Editor</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="save()">Save</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-card>
    <img src="{{pokemon.sprites.front_default}}" />
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="pokemon.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <ion-input type="text" [(ngModel)]="pokemon.sprites.front_default"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Type</ion-label>
      <ion-input type="text" [(ngModel)]="pokemon.types[0].type.name"></ion-input>
    </ion-item>
  </ion-card>
</ion-content>